@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1792d2;
  --grey: #707070;
  --white: #f8f8f8;
  --royal--blue: #143774;
}
header {
  background-color: var(--white);
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: var(--grey);
}
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;

  text-align: left;
}

.logo {
  padding-bottom: 2em;
}

/* typography */

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--royal--blue);
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

h3 {
  font-size: 1.125rem;
}
p.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.article-info {
  font-size: 0.875rem;
}
.article-body {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
strong {
  font-weight: 700;
}
a {
  color: var(--blue);
}
a:hover,
a:focus {
  color: var(--royal--blue);
}
.read-more {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.875rem;
  letter-spacing: 2.8px;
  margin-bottom: 1.5em;
}
.read-more:hover,
.read-more:focus {
  color: var(--royal--blue);
}

/*! typogrphy end */

/* layout */

/* navbar start */

.navbar {
  margin-top: 0.75em;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin-left: 2em;
  list-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--grey);
  padding-bottom: 0.25em;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  color: var(--blue);
}

.current-page {
  border-bottom: 2px solid var(--grey);
}

.navbar ul li a.current-page:hover {
  color: var(--grey);
}

/* adding media qurey */

@media (max-width: 665px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    margin-bottom: 2em;
  }

  .container-flex {
    text-align: left;
  }
}
/* !nabvar end */

/* main-section start */

/* article-featured */
.article-featured {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 1.5em;
}
.article-image {
  order: -2;
  margin: 1em 0;
}
.article-info {
  order: -1;
  margin: 1em 0;
}

/* article-recent */
.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.col-left {
  order: -1;
}

.article-image {
  margin-bottom: 2em;
}
/*! main-section end */

/* sidebar-section start */

/* about-me section */

.sidebar-widget {
  border: 20px solid lightgray;
  margin-bottom: 3em;
  padding: 1.5em;
}
.widget-image {
  width: 100%;
  height: 133px;
  object-fit: cover;
  margin-bottom: 1em;
}
.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 1.5em;
}
.widget-recent-post:last-child {
  border: none;
  margin-bottom: 0;
}
.widget-post-image {
  order: -1;
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin-bottom: 1em;
}
.widget-post-title {
  margin-bottom: 1.5em;
  cursor: pointer;
}

/*! sidebar-section end */

/* footer */
footer {
  background-color: var(--royal--blue);
  color: lightgray;
  padding: 3em 0;
  text-align: center;
  font-size: 1.125rem;
}
footer p:first-child {
  font-weight: 700;
  margin-bottom: 0.5em;
}
